[user]
	name = Aleksandar Benic
	email = aleksandar.benic@protonmail.com
  editor = nvim
[merge]
	tool = meld
[diff]
	tool = araxis
[push]
	default = simple
[alias]
	lol = log --graph --decorate --pretty=oneline --abbrev-commit --all
  stat  = status -sb
	unstage = reset HEAD --
[github]
  user = alexbenic
[core]
	autocrlf = input
[rerere]
	enabled = true
[init]
	templatedir = /home/beni/.gh-license/git-templates
